<div class="relative isolate bg-gray-900 px-4 sm:px-6 py-2 sm:py-3 md:py-4 lg:px-8 w-full h-full flex flex-col justify-center overflow-hidden" style="height: 100vh; max-height: 100vh; padding-top: 1rem; padding-bottom: 1rem;">
  <div aria-hidden="true" class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-8 sm:px-16 md:px-24 lg:px-36 blur-3xl">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="mx-auto aspect-1155/678 w-full max-w-4xl bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-20"></div>
  </div>
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="text-xs sm:text-sm font-semibold text-indigo-400">Pricing</h2>
    <p class="mt-1 sm:mt-1.5 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold tracking-tight text-balance text-white">Precios claros, resultados reales</p>
  </div>
  <p class="mx-auto mt-1.5 sm:mt-2 max-w-2xl text-center text-xs sm:text-sm md:text-base font-medium text-pretty text-gray-400">Landing pages diseñadas para convertir visitas en clientes.
Sin suscripciones, sin costos ocultos.</p>
  <div class="mx-auto mt-3 sm:mt-4 md:mt-5 grid max-w-lg grid-cols-1 items-center gap-y-3 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
    <div class="rounded-2xl sm:rounded-3xl rounded-t-2xl sm:rounded-t-3xl bg-white/2.5 p-4 sm:p-6 ring-1 ring-white/10 sm:mx-4 md:mx-8 sm:rounded-b-none lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl">
      <h3 id="tier-hobby" class="text-xs sm:text-sm font-semibold text-indigo-400">Landing Esencial</h3>
      <p class="mt-2 sm:mt-3 flex items-baseline gap-x-2">
        <span class="text-2xl sm:text-3xl md:text-4xl font-semibold tracking-tight text-white">$350</span>
        <span class="text-xs sm:text-sm text-gray-400">USD</span>
      </p>
      <p class="mt-2 sm:mt-3 text-xs sm:text-sm text-gray-300">Ideal para validar tu oferta y empezar a captar clientes online.</p>
      <ul role="list" class="mt-4 sm:mt-5 space-y-1.5 sm:space-y-2 text-xs text-gray-300">
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          1 landing page
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Diseño responsive
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Copy base optimizado
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Formulario de contacto
        </li>
                <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Entrega en 5–7 días
        </li>
      </ul>
      <a href="#" aria-describedby="tier-hobby" class="mt-4 sm:mt-5 block rounded-md bg-white/10 px-3 py-2 text-center text-xs font-semibold text-white inset-ring inset-ring-white/5 hover:bg-white/20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white/75">Quiero mi landing</a>
    </div>
    <div class="relative rounded-2xl sm:rounded-3xl bg-gray-800 p-4 sm:p-6 ring-1 ring-white/10">
      <h3 id="tier-enterprise" class="text-xs sm:text-sm font-semibold text-indigo-400"><s>CRM</s> <b>PROXIMAMENTE</b></h3>
      <p class="mt-2 sm:mt-3 flex items-baseline gap-x-2">
        <span class="text-2xl sm:text-3xl md:text-4xl font-semibold tracking-tight text-white">$29/mes</span>
        <span class="text-xs sm:text-sm text-gray-400">USD</span>
      </p>
      <p class="mt-2 sm:mt-3 text-xs sm:text-sm text-gray-300">Pensada para negocios que quieren maximizar conversiones y ventas.
</p>
      <ul role="list" class="mt-4 sm:mt-5 space-y-1.5 sm:space-y-2 text-xs text-gray-300">
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Todo lo anterior
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Copywriting enfocado en conversión
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Animaciones suaves
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Optimización UX
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          Integración WhatsApp / Calendly
        </li>
        <li class="flex gap-x-2">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="h-4 w-4 flex-none text-indigo-400 mt-0.5">
            <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          1 ronda de cambios
        </li>
      </ul>
      <a href="#" aria-describedby="tier-enterprise" class="mt-4 sm:mt-5 block rounded-md bg-indigo-500 px-3 py-2 text-center text-xs font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Quiero vender más</a>
    </div>
  </div>
</div>


